In [1]:
import pandas as pd

In [2]:
t = pd.read_csv("2022_터널현황_원본.csv")

In [3]:
# row 생략 없이 출력
pd.set_option('display.max_rows', None)
# col 생략 없이 출력
pd.set_option('display.max_columns', None)

In [4]:
t.head(5)

,도로종류,노선명,시설명,시도,시군구,읍면동,리,총길이,총폭,유효폭,높이,교통량,준공년도
0,고속국도,고속국도451호선,(구)달성터널,대구광역시,달성군,논공읍,본리리,565.0,9.8,NaN,6.9,19679.0,1977
1,고속국도,고속국도55호선,가곡터널(상행선),경상남도,밀양시,가곡동,NaN,376.0,10.0,7.5,6.0,23277.0,2006
2,고속국도,고속국도55호선,가곡터널(하행선),경상남도,밀양시,가곡동,NaN,376.0,10.0,7.5,6.0,23277.0,2006
3,고속국도,고속국도151호선,가덕터널(공주),충청남도,부여군,옥산면,가덕리,373.0,10.7,NaN,7.3,10172.0,2009
4,고속국도,고속국도151호선,가덕터널(서천),충청남도,부여군,옥산면,가덕리,373.0,10.7,NaN,7.3,10172.0,2009

In [6]:
t.shape

(2755, 13)

In [7]:
t = t.loc[t["시도"]=="경기도"]

In [8]:
t.isna().sum()

도로종류      0
노선명      83
시설명       0
시도        0
시군구       0
읍면동       0
리       222
총길이       0
총폭        0
유효폭      97
높이        0
교통량      78
준공년도      0
dtype: int64

In [9]:
col_t = ["노선명","리",'유효폭','교통량','준공년도','높이','총폭','도로종류','시설명',"읍면동"]

In [10]:
t.drop(col_t,axis=1,inplace=True)

In [11]:
t.reset_index(drop=True,inplace=True)

In [12]:
tg=t['총길이'].groupby(t['시군구'])

In [13]:
tg=tg.sum().to_frame()

In [14]:
tg=tg.pivot_table(index=['시군구','총길이'])

In [15]:
tg.reset_index(inplace=True)

In [16]:
tg

     시군구      총길이
0    가평군  17174.9
1    고양시   1864.0
2    과천시   2769.0
3    광명시  11241.0
4    광주시  30337.0
5    구리시   3605.0
6    군포시  15267.0
7    김포시    758.1
8   남양주시  34195.7
9   동두천시   7898.0
10   부천시    510.0
11   성남시  37405.3
12   수원시   2892.0
13   시흥시   2580.0
14   안산시   8868.0
15   안성시  14905.0
16   안양시  13292.0
17   양주시  21673.0
18   양평군  11592.0
19   여주시  17530.0
20   연천군    298.0
21   오산시    745.0
22   용인시  30770.5
23   의왕시   8270.0
24  의정부시  10253.0
25   이천시   2857.0
26   파주시   7107.0
27   평택시   1747.0
28   포천시  10060.0
29   하남시   3442.0
30   화성시   5202.0

In [17]:
t.reset_index(drop=True,inplace=True)

In [18]:
t1=t["시군구"].value_counts().to_frame()

In [19]:
t1.rename(columns={"시군구":'터널수'},inplace=True)

In [20]:
t1

      터널수
용인시    51
성남시    49
남양주시   45
광주시    40
여주시    23
가평군    20
안성시    19
의왕시    16
양주시    16
파주시    16
양평군    16
군포시    16
화성시    14
안산시    10
포천시    10
광명시     9
의정부시    9
하남시     7
안양시     7
고양시     6
수원시     6
동두천시    6
평택시     5
시흥시     5
김포시     4
과천시     4
이천시     3
부천시     3
오산시     2
구리시     1
연천군     1

In [21]:
t1=t1.reset_index().rename(columns={"index":"시군구"})

In [22]:
ttg=pd.merge(t1,tg, how='outer',on="시군구")

In [23]:
ttg

     시군구  터널수      총길이
0    용인시   51  30770.5
1    성남시   49  37405.3
2   남양주시   45  34195.7
3    광주시   40  30337.0
4    여주시   23  17530.0
5    가평군   20  17174.9
6    안성시   19  14905.0
7    의왕시   16   8270.0
8    양주시   16  21673.0
9    파주시   16   7107.0
10   양평군   16  11592.0
11   군포시   16  15267.0
12   화성시   14   5202.0
13   안산시   10   8868.0
14   포천시   10  10060.0
15   광명시    9  11241.0
16  의정부시    9  10253.0
17   하남시    7   3442.0
18   안양시    7  13292.0
19   고양시    6   1864.0
20   수원시    6   2892.0
21  동두천시    6   7898.0
22   평택시    5   1747.0
23   시흥시    5   2580.0
24   김포시    4    758.1
25   과천시    4   2769.0
26   이천시    3   2857.0
27   부천시    3    510.0
28   오산시    2    745.0
29   구리시    1   3605.0
30   연천군    1    298.0

In [25]:
ttg.to_csv("터널_전처리.csv", index=False, encoding="utf-8-sig")